*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #51555b;
}

.container{
    width: 80%;
    max-width: 900px;
    background: #333;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.opcaoConversao{
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.opcaoConversao select{
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.linhaValor {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.linhaValor input{
    width: 85%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.linhaValor button{
    width: 15%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.linhaValor button:hover{
    background: #0056b3;
}

.resultado p{
    font-size: 18px;
    margin-top: 15px;
    color: #fff;
}
